@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col-green1: #015551;
    --col-green2: #05f7eb;
    --col-white1: #ffffff;
    --col-white2: #fff5e4;
    --col-puprle1: #143d60;
    --col-black1: #333333;
    --col-red1: #2b0301;
    --col-gold1: #ead196;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    /* height: 4000px; */
}

section,
.section {
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.w50 {
    width: 50%;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

span,
p,
li,
a {
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.section-height {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.global-btn {
    display: inline-flex;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 500;
    border: 2px solid transparent;
}

.white-btn {
    background-color: var(--col-white2);
}

.green-btn {
    background-color: var(--col-green1);
    color: var(--col-white2);
}

.grey-btn {
    background-color: grey;
}

.grey-btn.active {
    background-color: var(--col-white2) !important;
}

.transparent-btn-white {
    border: 2px solid var(--col-white1);
    color: var(--col-white1);
}

.transparent-btn-black {
    border: 2px solid var(--col-red1);
    color: var(--col-red1);
}

.gold-btn {
    background-color: var(--col-gold1);
    color: var(--col-red1);
}

.line-height-small {
    line-height: 1;
}

.line-height-normal {
    line-height: 1.7;
}

.section-tagline {
    color: var(--col-white1);
    font-weight: 500;
    position: relative;
    padding-left: 20px;
    text-transform: uppercase;
}

.section-tagline::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: var(--col-white1);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* HEADER CSS */

#header-section,
#header-section-2 {
    height: 100px;
    background-color: var(--col-green1);
    color: var(--col-white1);
}

#header-section-2 {
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    box-shadow: 0 0 4px #000000;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#header-section-2.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

#header-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.hecon {
    height: 100%;
}

#header-content-col1 {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

a.header-logo {
    font-weight: 600;
    color: var(--col-white1);
}

#header-content-col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

#header-menu-wrapper ul {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

#header-menu-wrapper ul li.this {
    border-bottom: 1px solid var(--col-white1);
}

#header-menu-wrapper ul li a {
    color: var(--col-white1);
}

#header-content-col3 {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 4rem;
    gap: calc(1rem + 4px);
}

.cart-icon {
    width: 40px;
    height: 40px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    color: var(--col-white2);
    /* background-color: red; */
    cursor: pointer;
}
.many-item {
    position: absolute;
    bottom: 0;
    right: -4px;
}

#header-content-col4 {
    width: 28px;
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    align-items: end;
    justify-content: center;
    margin-left: calc(4px + 1rem);
}

#header-content-col4 span {
    width: 100%;
    height: 4px;
    background-color: var(--col-white2);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#header-content-col4 span:nth-child(2) {
    width: 50%;
}

.cart-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.cart-wrapper.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.cart-content-wr {
    width: 400px;
    max-width: 100%;
    height: 100vh;
    background-color: var(--col-white1);
    position: absolute;
    top: 0;
    right: 0;
}

.cc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(100%);
}

.cc.show {
    transform: translateX(0);
}

#cart-content-unfilled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#cart-content-unfilled > span {
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
}

#cart-content-unfilled svg {
    width: 3rem;
    height: 3rem;
}

#cart-content-unfilled .close-cart-wrapper {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    background-color: var(--col-black1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--col-white1);
    border-radius: 100%;
    cursor: pointer;
}

.ccf-row1 {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 1px grey;
    justify-content: space-between;
    height: 75px;
    padding: 0 1rem;
}

.ccf-row1 > h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--col-black1);
}

#cart-content-filled .close-cart-wrapper {
    width: 40px;
    height: 40px;
    background-color: var(--col-black1);
    color: var(--col-white1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.ccf-row2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: calc(100% - 75px - 125px);
    /* background-color: red; */
    overflow-y: auto;
    overflow-x: hidden;
}

.ccf-row2::-webkit-scrollbar {
    display: none;
}

.product-ctn {
    width: 100%;
    display: flex;
    height: 100px;
    /*background-color: red;
    */
    background-color: var(--col-green1);
    color: var(--col-white1);
    flex-shrink: 0;
}

.pc-col1 {
    width: 30%;
}

.pc-col1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pc-col2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: blue; */
    justify-content: space-between;
    width: 55%;
    padding: 0.5rem 1rem;
}

.pc-col2-row1 {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.prod-name-on-cart {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.prod-price-on-cart {
    font-size: 0.8rem;
    color: var(--col-gold1);
    font-weight: 600;
}

.pc-col3 {
    height: 100%;
    display: flex;
    flex-grow: 1;
    background-color: var(--col-green1);
    align-items: center;
    justify-content: center;
    border-left: 1px dashed var(--col-gold1);
    cursor: pointer;
}

.pc-col3 svg {
    width: 2rem;
    height: 2rem;
}

.ccf-row3 {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    height: 125px;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 -2px 2px grey;
}

.ccf-row3-row1 {
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span-subtotal {
    font-size: 1.5rem;
    font-weight: 600;
}

.subtotal-result {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--col-black1);
}

#checkout-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
